.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  align-content: start;
  gap: 5px;
  background-color: dodgerblue;
  padding: 5px;
  min-height: 100vh;
}

.header,
.aside1,
.aside2,
.article,
.column,
.footer {  
  background-color: #ffa4be;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-radius: 8px;
}

.header {
  grid-column: 1 / -1;
  background-color: #c2185b;
  color: white;
}

.footer {
  grid-column: 1 / -1;
  background-color: #ff9500;
  color: white;
}

.aside1 {
  background-color: #0d7377;
  color: white;
}

.aside2 {
  background-color: #14919b;
  color: white;
}

.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    background-color: #1fa87a;
    align-items: end;
}


.column {
    background-color: #e91e63;
    color: white;
    padding: 15px;
    display: block; /*ensures block stacking style*/
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;  
  }
  .article {
    grid-template-columns: 1fr;
  }
}
