.container {
    display:grid;
    column-gap: 20px;
    justify-content: space-around;
    align-content: center;
    background-color: gray;
}

.header {
    
}

.aside1 {
    
}

.column {
    align-self: center;
}

.aside2 {
    
}

.footer {
    
}