.header {
    display: grid
}

.aside1 {
    display: grid
}

.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    justify-content: space-around;
    align-content: center;
    background-color: green;
}

.item1 {
    align-self: center;
    background-color: violet;
}

.aside2 {
    display:grid
}

.footer {
    display: grid
}